<div id="document">
    <div class="bg-color-sky-light" data-auto-height="true">
        <div class="content-lg container">
            <div class="row row-space-2">
                <div class="col-sm-4 sm-margin-b-4">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-docs"></i>
                        </div>
                        <div class="service-info">
                            <h3>Документация</h3>
                            <p class="margin-b-5">Вы можете ознакомиться с документами магазина</p>
                        </div>
                        <a asp-controller="Home" asp-action="Documents" asp-fragment="catalog" class="content-wrapper-link"></a>
                    </div>
                </div>
                <div class="col-sm-4 sm-margin-b-4">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-speedometer"></i>
                        </div>
                        <div class="service-info">
                            <h3>Сроки доставки</h3>
                            <p class="margin-b-5">Подробная информация о сроках и стоимости доставки</p>
                        </div>
                        <a asp-controller="Home" asp-action="Delivery" asp-fragment="catalog" class="content-wrapper-link"></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-badge"></i>
                        </div>
                        <div class="service-info">
                            <h3>Отзывы</h3>
                            <p class="margin-b-5">Хороших слов много не бывает!</p>
                        </div>
                        <a asp-controller="Home" asp-action="Reviews" asp-fragment="catalog" class="content-wrapper-link"></a>
                    </div>
                </div>
            </div>
            <!--// end row -->
        </div>
    </div>
</div>
<div class="promo-banner">
    <div class="container-sm content-lg">
        <h2 class="promo-banner-title">Цитата дня</h2>
        <p class="promo-banner-text">Первейшее правило жизни с мужчиной: накорми его сразу же, как проснётся.</p>
        <em class="promo-banner-text">Роберт Хайнлайн.</em>
    </div>
</div>
<!-- End Promo Banner -->
<!-- Testimonials -->
<div class="content-md container" id="contact">
    <div class="row">
        <div class="col-sm-8">
            <h2>Отзывы</h2>
            <!-- Swiper Testimonials -->
           <vc:reviews-site/>
            <!-- End Swiper Testimonials -->
        </div>
        <div class="col-sm-4">
            <h2>Контакты</h2>
            <div class="contact-info">
                <address>
                    <p>Мясной Рай</p>
                    <p>г.Красногорск, Карбышева, д. 19А, этаж 1, Мясной Рай</p>
                    <p>Магазин: +7 985 17 38 93</p>
                    <p>Производство: +7 985 17 38 93</p>
                    <p>Доставка: +7 985 17 38 93</p>
                </address>

            </div>
        </div>
    </div>
    
    <!--// end row -->
</div>
<!-- End Testimonials -->

<!--========== END PAGE LAYOUT ==========-->
<footer class="footer">

    <!-- Copyright -->
    <div class="content container">
        <div class="row">
            @*Установить логотип*@
        </div>
        <!--// end row -->
    </div>
    <!-- End Copyright -->
</footer>
<!-- Back To Top -->
<a href="javascript:void(0);" class="js-back-to-top back-to-top"><i class="glyphicon glyphicon-chevron-up" aria-hidden="true"></i></a>