<div id="document">
    <div class="bg-color-sky-light" data-auto-height="true">
        <div class="content-lg container">
            <div class="row row-space-2">
                <div class="col-sm-4 sm-margin-b-4">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-docs"></i>
                        </div>
                        <div class="service-info">
                            <h3>Документация</h3>
                            <p class="margin-b-5">Вы можете ознакомиться с документами магазина</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>
                    </div>
                </div>
                <div class="col-sm-4 sm-margin-b-4">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-speedometer"></i>
                        </div>
                        <div class="service-info">
                            <h3>Сроки доставки</h3>
                            <p class="margin-b-5">Подробная информация о сроках и стоимости доставки</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-badge"></i>
                        </div>
                        <div class="service-info">
                            <h3>Отзывы</h3>
                            <p class="margin-b-5">Хороших слов много не бывает!</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>
                    </div>
                </div>
            </div>
            <!--// end row -->
        </div>
    </div>
</div>
<div class="promo-banner">
    <div class="container-sm content-lg">
        <h2 class="promo-banner-title">Цитата дня</h2>
        <p class="promo-banner-text">Первейшее правило жизни с мужчиной: накорми его сразу же, как проснётся.</p>
        <em class="promo-banner-text">Роберт Хайнлайн.</em>
    </div>
</div>
<!-- End Promo Banner -->
<!-- Testimonials -->
<div class="content-md container">
    <div class="row">
        <div class="col-sm-9">
            <h2>Отзывы</h2>

            <!-- Swiper Testimonials -->
            <div class="swiper-slider swiper-testimonials">
                <!-- Swiper Wrapper -->
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <blockquote class="blockquote">
                            <div class="margin-b-20">
                                Большое спасибо Надежде за отличную работу,быструю доставку!
                            </div>

                            <p><span class="fweight-700 color-link">Кирил Лилия</span></p>
                        </blockquote>
                    </div>
                    <div class="swiper-slide">
                        <blockquote class="blockquote">
                            <div class="margin-b-20">
                                Всем, кто имел отношение к очередному нашему заказу, огромное семейное спасибо за профессионализм и заботу о покупателях! Всё отлично!!!
                            </div>

                            <p><span class="fweight-700 color-link">Блохина Анна</span></p>
                        </blockquote>
                    </div>
                </div>
                <!-- End Swiper Wrapper -->
                <!-- Pagination -->
                <div class="swiper-testimonials-pagination"></div>
            </div>
            <!-- End Swiper Testimonials -->
        </div>
    </div>
    <!--// end row -->
</div>
<!-- End Testimonials -->
<!-- Contact -->
<div id="contact">
    <!-- Google Map -->
    @*<div style="align-content:center" >
            <div>
                <img  src="~/img/970x647/01.jpg" alt="Latest Products Image" >
            </div>
        </div>*@
    <!-- End Google Map -->
</div>
<!-- End Contact -->
<!--========== END PAGE LAYOUT ==========-->
<footer class="footer">
    <!-- Links -->
    <div class="section-seperator">
        <div class="content-md container">
            <div class="row">
                <div class="col-sm-2 sm-margin-b-30">
                    <!-- List -->
                    <ul class="list-unstyled footer-list">
                        <li class="footer-list-item"> <p style="color: black"><i class="service-icon icon-phone"></i> Магазин</p></li>
                        <li class="footer-list-item"> <p style="color: black"><i class="service-icon icon-phone"></i> Производство</p></li>
                        <li class="footer-list-item"> <p style="color: black"><i class="service-icon icon-phone"></i> Доставка</p></li>
                    </ul>

                    <!-- End List -->
                </div>
                <div class="col-sm-2 sm-margin-b-30">
                    <!-- List -->
                    <ul class="list-unstyled footer-list">
                        <li class="footer-list-item"><p style="color: black"> +7 903 208 98 79</p></li>
                        <li class="footer-list-item"><p style="color: black"> +7 985 288 95 79</p></li>
                        <li class="footer-list-item"><p style="color: black"> +7 945 275 85 79</p></li>
                    </ul>
                    <!-- End List -->
                </div>
                <div class="col-sm-3">
                    <!-- List -->
                    <ul class="list-unstyled footer-list">
                        <li class="footer-list-item"><p style="color: black"> ИП Ротаренко Надежда</p></li>
                        <li class="footer-list-item"><p style="color: black"> Адрес магазина: г.Красногорск, Карбышева, д. 19А, этаж 1, Мясной Рай</p></li>


                    </ul>
                    <!-- End List -->
                </div>
            </div>
            <!--// end row -->
        </div>
    </div>
    <!-- End Links -->
    <!-- Copyright -->
    <div class="content container">
        <div class="row">
            @*Установить логотип*@
        </div>
        <!--// end row -->
    </div>
    <!-- End Copyright -->
</footer>
<!-- Back To Top -->
<a href="javascript:void(0);" class="~/js-back-to-top back-to-top">
    <i class="service-icon icon-arrow-up"></i>
</a>