<header class="header navbar-fixed-top">
    <!-- Navbar -->
    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="menu-container js_nav-item">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="toggle-icon"></span>
                </button>

                <!-- Logo -->
                <div class="logo">
                    <a class="logo-wrap" href="#body">
                        @*Нужно поставить логотип*@
                    </a>
                </div>
                <!-- End Logo -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav-collapse">
                <div class="menu-container">
                    <ul class="nav navbar-nav navbar-nav-right">
                        <li class="js_nav-item nav-item"><a asp-controller="Home" asp-action="Index" class="nav-item-child nav-item-hover">Главная</a></li>
                        <li class="js_nav-item nav-item"><a asp-controller="Home" asp-action="Index" asp-fragment="service" class="nav-item-child nav-item-hover">Сервисы</a></li>
                        <li class="js_nav-item nav-item"><a asp-controller="Catalog" asp-action="Shop" asp-fragment="catalog" class="nav-item-child nav-item-hover">Магазин</a></li>
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#document">Документы</a></li>
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#contact">Контакты</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Navbar Collapse -->
        </div>
    </nav>
    <!-- Navbar -->
</header>
<div class="promo-block">
    <div class="container">
        <div class="margin-b-40">
            <h1 class="promo-block-title">Доставка свежего мяса   </h1>
            <p  id="catalog" class="promo-block-text">и продукции собственного производства</p>
        </div>

    </div>
</div>