<div class="container" >
   <vc:recipe/>
    
</div>
<div class="container">
    <div class="title text-center">
        <hr />
        <a asp-controller="Catalog" asp-action="Shop" asp-fragment="catalog" class="link">Каталог продукции</a>
        <hr />
    </div>
</div>
