<div class="container" >
    <div class="features_items">
        <!--features_items-->
        <hr />
        <h2 class="title text-center">Рецепты</h2>
        <hr />
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="~/img/product/G01.jpg" alt="Товар" />
                        <h2>Котлеты для бургеров</h2>
                        <p>
                            <strong>Ингредиенты</strong><br />
                            говяжий фарш – 300 г <br />
                            свиной фарш – 100 г <br />
                            соль и черный молотый перец – по вкусу <br />
                            растительное масло – 0,5 ст. л.  <br />
                        </p>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="~/img/product/G01.jpg" alt="Товар" />
                        <h2>Котлеты для бургеров</h2>
                        <p>
                            <strong>Ингредиенты</strong><br />
                            говяжий фарш – 300 г <br />
                            свиной фарш – 100 г <br />
                            соль и черный молотый перец – по вкусу <br />
                            растительное масло – 0,5 ст. л.  <br />
                        </p>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="~/img/product/G01.jpg" alt="Товар" />
                        <h2>Котлеты для бургеров</h2>
                        <p>
                            <strong>Ингредиенты</strong><br />
                            говяжий фарш – 300 г <br />
                            свиной фарш – 100 г <br />
                            соль и черный молотый перец – по вкусу <br />
                            растительное масло – 0,5 ст. л.  <br />
                        </p>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="~/img/product/G01.jpg" alt="Товар" />
                        <h2>Котлеты для бургеров</h2>
                        <p>
                            <strong>Ингредиенты</strong><br />
                            говяжий фарш – 300 г <br />
                            свиной фарш – 100 г <br />
                            соль и черный молотый перец – по вкусу <br />
                            растительное масло – 0,5 ст. л.  <br />
                        </p>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="~/img/product/G01.jpg" alt="Товар" />
                        <h2>Котлеты для бургеров</h2>
                        <p>
                            <strong>Ингредиенты</strong><br />
                            говяжий фарш – 300 г <br />
                            свиной фарш – 100 г <br />
                            соль и черный молотый перец – по вкусу <br />
                            растительное масло – 0,5 ст. л.  <br />
                        </p>

                    </div>

                </div>
            </div>
        </div>

    </div>
    
</div>
<div class="container">
    <div class="title text-center">
        <hr />
        <a asp-controller="Catalog" asp-action="Shop" asp-fragment="catalog" class="link">Каталог продукции</a>
        <hr />
    </div>
</div>
