
@model CatalogViewModel
<section >
    <br />
    <div class="contander_product" >
        <div class="row">
           
            <partial name="Partial/_LeftSideBar" />
            <partial name="Partial/_FeaturesItems" model="@Model.Products" />
        </div>
    </div>

</section>
