@{
    ViewData["Title"] = "Доставка";
}
<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <hr />
            <h2 class="title text-center">Доставка</h2>
            <hr />
            <div class="text-center">
                <p>Доставка осуществляется два в раза в день: утренняя с 12:00 - 14:00 и вечерняя с 18:00- 21:00. </p>
            </div>
            <div class="col-sm-8 col-md-offset-2">
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6d07033286b041a53c57302633252cf63b5b3e158dd0f29186478a84dcdc7651&amp;width=831&amp;height=437&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
            <div class="col-sm-12">
                <hr />
                <h4 class="title text-center">Стоимость доставки:</h4>
                <hr />
                <div class="text-center">
                    <address>
                        <p>Зелёная зона: Бесплатнная доставка от 500 руб.</p>
                        <p>Синяя зона: Бесплатнная доставка от 1000 руб.</p>
                        <p>Желтая зона: Бесплатнная доставка от 2000 руб.</p>
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>
