
    <!-- Products -->
    <div id="service">
        <div class="container content-lg">
            <div class="row text-center margin-b-40">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2>Наши услуги</h2>
                    <p>
                        Радость от оказания услуги – самая лестная награда для чувствительного сердца.
                    </p>
                </div>
            </div>
            <!--// end row -->

            <div class="row">
                <!-- Latest Products -->
                <div class="col-sm-4 sm-margin-b-50">
                    <div class="margin-b-20">
                        <img class="img-responsive wow fadeIn"  src="~/img/970x647/01.jpg" alt="Latest Products Image" data-wow-duration=".3" data-wow-delay=".1s">
                    </div>
                    <h4><a href="#">Доставка продуктов</a> </h4>
                    <p>Доставляем ваш заказ до двери вашего дома. Работаем круглогодично без праздников и выходных.</p>
                    <a asp-controller="Catalog" asp-action="Shop" class="link">Каталог продукции</a>
                </div>

                <!-- End Latest Products -->
                <!-- Latest Products -->
                <div class="col-sm-4 sm-margin-b-50">
                    <div class="margin-b-20">
                        <img class="img-responsive wow fadeIn"  src="~/img/970x647/02.jpg" alt="Latest Products Image" data-wow-duration=".3" data-wow-delay=".2s">
                    </div>
                    <h4><a href="#">Производство</a> </h4>
                    <p>Здесь вы можете заказать продукцию нашего производства. Мы приготовим для вас колбаски по фирменому рецепту, котлеты для бургеров, шашлык.  </p>
                    <a asp-controller="Employees" asp-action="Index" class="link">Выбрать дату</a>
                </div>
                <!-- End Latest Products -->
                <!-- Latest Products -->
                <div class="col-sm-4 sm-margin-b-50">
                    <div class="margin-b-20">
                        <img class="img-responsive wow fadeIn"  src="~/img/970x647/03.jpg" alt="Latest Products Image" data-wow-duration=".3" data-wow-delay=".3s">
                    </div>
                    <h4><a href="#">Иные услуги</a> </h4>
                    <p>Разделка мяса (свинина, говядина, курица, рыба). Аренда рефрижератора.</p>
                    <a class="link" href="#">Подробнее</a>
                </div>
                <!-- End Latest Products -->
            </div>
            <!--// end row -->
        </div>

       
    </div>
    <!-- End Products -->
    <!-- Service -->
    
    